{% extends 'base.html' %}

{% block body %}
<div class="about-area ptb-80">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image"><img alt="image" loading="lazy" width="685" height="494" decoding="async" data-nimg="1"
            src="/static/img/about_one.png"
            style="color: transparent;"></div>
      </div>
      <div class="col-lg-6 col-md-12 ">
        <div class="about-content">
          <div class="section-title">
            <h2 class="text-dark mt-20">About Us</h2>
            <div class="bar"></div>
            <p class="text-lg">At WITESO, we're innovators shaping the digital future.
              We specialize in crafting bespoke solutions that drive success.</p>
          </div>
          <p class="text-lg">From custom web development to cutting-edge AI applications,
            our expertise delivers tangible results and exceeds expectations.</p>
          <p class="text-lg">Empowering businesses and individuals through transformative technology,
            we push the boundaries of innovation with every project.</p>
          <p class="text-lg">Join us on our journey to create meaningful impact in the digital landscape.</p>
        </div>
      </div>
    </div>

    <div class="space-y-8 margin mt-20">
      <!-- Paragraph with Image 1 -->
      <div class="fade margin flex flex-col-reverse md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8 mt-4">
        <div class="flex-1">
          <h3>Our History</h3>
          <p class="text-lg leading-relaxed">WITESO's journey began with a vision to redefine the tech landscape.Founded
            on a passion for innovation, we've grown into a trusted industry leader.From humble beginnings to impactful
            milestones, our history reflects
            a relentless pursuit of excellence and a commitment to our clients' success.With each year, we've expanded
            our capabilities and refined our expertise,continuously evolving to meet the changing needs of the digital
            world.
            Today, we stand proud of our journey so far, yet ever-focused on
            the opportunities that lie ahead as we continue to innovate and inspire.</p>
        </div>
        <div class="flex-1 ">
          <img
            src="/static/img/goal.jpg"
            alt="Balanced Strategy Image" class="max-w-full h-auto rounded ">
        </div>

      </div>
      <!-- Paragraph with Image 2 -->
      <div class="fade flex flex-col-reverse md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8">
        <div class="flex-1">
          <img src="/static/img/mission.png" alt="MAGNO Image"
            class="max-w-full h-auto">
        </div>
        <div class="flex-1">
          <h3>Our Mission</h3>
          <p class="text-lg leading-relaxed">At WITESO, our mission is clear: to revolutionize the tech industry.
            We strive to empower businesses and individuals through innovative solutions.

            Driven by a passion for excellence and a commitment to our clients,
            we aim to push the boundaries of what's possible in technology.

            With every project, we're dedicated to creating real-world impact
            and shaping a brighter future for all through the power of innovation.</p>
        </div>
      </div>
      <!-- Paragraph with Image 3 -->

      <div class="fade margin flex flex-col-reverse md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8 mt-4">
        <div class="flex-1">
          <h3>Who We Are</h3>
          <p class="text-lg leading-relaxed">At WITESO, we are pioneers of innovation in the tech industry.
            Driven by a passion for excellence, we craft cutting-edge solutions for our clients.

            With a team of skilled professionals and a commitment to collaboration,
            we are dedicated to shaping the future of technology and empowering businesses.

            Our values of integrity, creativity, and adaptability define who we are,
            guiding us as we strive to make a meaningful impact in the digital world.

            At WITESO, we are more than a company - we are a community
            united by a shared vision of pushing boundaries and driving progress.</p>
        </div>
        <div class="flex-1 ">
          <img src="/static/img/what-we-do-illustration.png"
            alt="Balanced Strategy Image" class="max-w-full h-auto">
        </div>

      </div>

    </div>
  </div>
</div>
</div>


<div class="shape3"><img alt="shape" loading="lazy" width="28" height="28" decoding="async" data-nimg="1"
    src="/static/img/shape3.svg" style="color: transparent;"></div>
<div class="shape4"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1"
    src="/static/img/shape4.svg" style="color: transparent;"></div>
<div class="shape5"><img alt="shape" loading="lazy" width="182" height="146" decoding="async" data-nimg="1"
    src="/static/img/shape5.png" style="color: transparent;"></div>
<div class="shape6 rotateme"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1"
    src="/static/img/shape5.png" style="color: transparent;"></div>
<div class="shape7"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1"
    src="/static/img/shape4.svg" style="color: transparent;"></div>
<div class="shape8 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1"
    src="/static/img/shape2.svg" style="color: transparent;"></div>
</div>
</div>
</div>
</div>
</div>

<div class="funfacts-area ptb-80">
  <div class="container">
    <div class="section-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500"
      data-aos-once="true">
      <h2>We always try to understand users expectation</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
        data-aos-duration="500" data-aos-once="true">
        <div class="funfact">
          <h3>{{users_count}}</h3>
          <p>SaaS Users</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
        data-aos-duration="500" data-aos-once="true">
        <div class="funfact">
          <h3>20</h3>
          <p>Feedback</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
        data-aos-duration="500" data-aos-once="true">
        <div class="funfact">
          <h3>10+</h3>
          <p>Workers</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400"
        data-aos-duration="500" data-aos-once="true">
        <div class="funfact">
          <h3>3+</h3>
          <p>SaaS Products</p>
        </div>
      </div>
    </div>
    <div class="contact-cta-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500"
      data-aos-once="true">
      <h3>Have any question about us?</h3>
      <p>Don't hesitate to contact us</p><a class="btn btn-primary" href="/contact">Contact Us</a>
    </div>
    <div class="map-bg"><img alt="map" loading="lazy" width="910" height="443" decoding="async" data-nimg="1"
        src="/static/img/map.png" style="color: transparent;"></div>
  </div>
  <div class="shape1"><img alt="shape" loading="lazy" width="202" height="202" decoding="async" data-nimg="1"
      src="/static/img/shape1.png" style="color: transparent;"></div>
  <div class="shape2 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1"
      src="/static/img/shape2.svg" style="color: transparent;"></div>
</div>
{% endblock body %}