{% extends 'base.html' %}

{% block body %}
<div class="ptb-80 mt-20">
  <div class="container ">
    <div class="section-title">
      <h2>Cancellation & Refund</h2>
      <div class="bar"></div>
    </div>
  </div>
  <div class="container w-90 mb-5 text-lg">
    <p>Thank you for choosing Witeso.com. We strive to provide you with the best services and products to enhance your
      online experience. Please read our cancellation and refund policy carefully before making any purchases.</p>

    <h2>Cancellation Policy:</h2>
    <p>Once you have made a purchase on Witeso.com, cancellation of the order is not permitted. We understand that
      circumstances may change, but due to the nature of our services and products, we are unable to process
      cancellations once the transaction is completed.</p>

    <h2>Refund Policy:</h2>
    <p>At Witeso.com, we offer various products and services tailored to suit your needs. Once you have purchased
      credits from us, we do not initiate refunds under any circumstances. This includes but is not limited to changes
      in your requirements, dissatisfaction with the product, or any other reason.</p>

    <h2>Exceptions:</h2>
    <p>Despite our stringent cancellation and refund policy, we understand that there may be exceptional cases. If you
      believe there has been an error in your purchase, or if you encounter any technical issues preventing you from
      accessing our services, please reach out to our customer support team immediately for assistance. We will
      thoroughly investigate the matter and work towards finding a satisfactory resolution.</p>

    <h2>Payment Gateway:</h2>
    <p>Witeso.com utilizes Razorpay as our payment gateway provider. Razorpay ensures secure transactions and adheres to
      strict industry standards to safeguard your financial information. All payments made through Razorpay are
      encrypted and processed securely, providing you with peace of mind when making purchases on our platform.</p>

    <h2>Contact Us:</h2>
    <p>If you have any questions or concerns regarding our cancellation and refund policy, please feel free to contact
      us. Our customer support team is available to assist you and address any inquiries you may have at <a href="/contact">Contact Page</a>.</p>

    <p>Thank you for your understanding and cooperation.</p>

    <p>Note: This cancellation and refund policy is subject to change without prior notice. Please review this page
      periodically for any updates or amendments.</p>
  </div>
</div>
{% endblock body %}