{% extends 'base.html' %}

{% block body %}
<div class="ml-main-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="ml-banner-content">
          <h1 data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-once="true" class="aos-init aos-animate">Welcome to WITESO <br>Where Innovation Meets Technology!</h1>
          <p data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-once="true" class="aos-init aos-animate">At Witeso, we redefine IT services by offering cutting-edge solutions to meet your digital needs. With a commitment to innovation and a passion for technology, we provide a comprehensive range of services tailored to empower businesses and individuals alike.</p><a class="btn btn-secondary aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-once="true" href="/contact">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="ml-banner-image">
          <img alt="image" loading="lazy" width="127" height="174" decoding="async" data-nimg="1" class="animate__animated animate__fadeIn animate__delay-2s" src="/static/img/one.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="212" height="286" decoding="async" data-nimg="1" class="animate__animated animate__fadeInUp animate__delay-1s" src="/static/img/two.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="336" height="196" decoding="async" data-nimg="1" class="animate__animated animate__fadeInUp animate__delay-0.5s" src="/static/img/three.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="96" height="140" decoding="async" data-nimg="1" class="animate__animated animate__fadeInUp animate__delay-2s" src="/static/img/four.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="97" height="138" decoding="async" data-nimg="1" class="animate__animated animate__fadeInDown animate__delay-2.5s" src="/static/img/five.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="96" height="127" decoding="async" data-nimg="1" class="animate__animated animate__fadeInDown animate__delay-1.9s" src="/static/img/six.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="124" height="250" decoding="async" data-nimg="1" class="animate__animated animate__fadeInDown animate__delay-2.1s" src="/static/img/seven.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="122" height="250" decoding="async" data-nimg="1" class="animate__animated animate__fadeInDown animate__delay-1.9s" src="/static/img/eight.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="124" height="251" decoding="async" data-nimg="1" class="animate__animated animate__fadeInDown animate__delay-1.7s" src="/static/img/nine.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="122" height="243" decoding="async" data-nimg="1" class="animate__animated animate__fadeInDown animate__delay-1.5s" src="/static/img/ten.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="588" height="343" decoding="async" data-nimg="1" class="animate__animated animate__fadeInUp animate__delay-0.4s" src="/static/img/eleven.png" style="color: transparent;">
          <img alt="image" loading="lazy" width="592" height="577" decoding="async" data-nimg="1" class="animate__animated animate__fadeInUp animate__delay-0.5s" src="/static/img/ml-main-pic.png" style="color: transparent;">
        </div>
      </div>
    </div>
  </div>
  <div class="shape1"><img alt="shape" loading="lazy" width="202" height="202" decoding="async" data-nimg="1" src="/static/img/shape1.png" style="color: transparent;"></div>
  <div class="shape3"><img alt="shape" loading="lazy" width="28" height="28" decoding="async" data-nimg="1" src="/static/img/shape3.svg" style="color: transparent;"></div>
  <div class="shape4"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape6 rotateme"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape7"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape8 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
</div>
<div class="solutions-area ptb-80">
  <div class="container">
    <div class="section-title"><span class="sub-title">What We Offer</span>
      <h2>Our Featured Solutions</h2>
      <div class="bar"></div>
      <p>Explore our featured solutions tailored to meet your digital needs.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-once="true">
        <div class="single-solutions-box">
          <div class="icon"><img alt="image" loading="lazy" width="60" height="60" decoding="async" data-nimg="1" src="/static/img/icon4.png" style="color: transparent;"></div>
          <h3><a href="/contact">Development</a></h3>
          <p>Elevate your digital presence with custom web development, intuitive Android apps, and bespoke software solutions. Empowering businesses to reach millions and unlock their full potential in the digital realm.</p><a class="learn-more-btn" href="/contact"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="16"></line>
              <line x1="8" y1="12" x2="16" y2="12"></line>
            </svg> Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-once="true">
        <div class="single-solutions-box">
          <div class="icon"><img alt="image" loading="lazy" width="60" height="60" decoding="async" data-nimg="1" src="/static/img/icon5.png" style="color: transparent;"></div>
          <h3><a href="/contact">DevOps &amp; Security</a></h3>
          <p>Embrace blockchain for secure transactions, safeguard assets with cybersecurity, and streamline operations with DevOps. We provide solutions to protect assets and optimize business processes for success.</p><a class="learn-more-btn" href="/contact"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="16"></line>
              <line x1="8" y1="12" x2="16" y2="12"></line>
            </svg> Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-once="true">
        <div class="single-solutions-box">
          <div class="icon"><img alt="image" loading="lazy" width="60" height="60" decoding="async" data-nimg="1" src="/static/img/icon6.png" style="color: transparent;"></div>
          <h3><a href="/contact">Generative AI</a></h3>
          <p>Unlock business potential with bespoke software solutions and harness data insights through advanced machine learning. Utilize generative AI to develop innovative solutions for real-life problems, driving success in the digital age.</p><a class="learn-more-btn" href="/contact"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="16"></line>
              <line x1="8" y1="12" x2="16" y2="12"></line>
            </svg> Learn More</a>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="shape1"><img alt="shape" loading="lazy" width="202" height="202" decoding="async" data-nimg="1" src="/static/img/shape1.png" style="color: transparent;"></div>
  <div class="shape2 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
  <div class="shape3"><img alt="shape" loading="lazy" width="28" height="28" decoding="async" data-nimg="1" src="/static/img/shape3.svg" style="color: transparent;"></div>
  <div class="shape4"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape5"><img alt="shape" loading="lazy" width="182" height="146" decoding="async" data-nimg="1" src="/static/img/shape5.png" style="color: transparent;"></div>
  <div class="shape6 rotateme"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape7"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape8 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
</div>
<div class="about-area pt-0 ptb-80">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="ml-about-img"><img alt="image" loading="lazy" width="677" height="575" decoding="async" data-nimg="1" src="/static/img/about4.png" style="color: transparent;"></div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="ml-about-content"><span class="sub-title">About Us</span>
          <h2>Innovative Solutions for Your Digital Success: Witeso's Story Unveiled  </h2>
          <div class="bar"></div>
          <p>At Witeso, we pioneer tech solutions for diverse needs. <br>
              With creativity and expertise, we drive digital transformation for clients.</p>
          <p>Our passion for innovation fuels our commitment to excellence.
              Through collaborative partnerships, we craft tailored solutions for lasting impact.</p><a class="btn btn-secondary" href="/about">Discover More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="shape1"><img alt="shape" loading="lazy" width="202" height="202" decoding="async" data-nimg="1" src="/static/img/shape1.png" style="color: transparent;"></div>
  <div class="shape2 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
  <div class="shape3"><img alt="shape" loading="lazy" width="28" height="28" decoding="async" data-nimg="1" src="/static/img/shape3.svg" style="color: transparent;"></div>
  <div class="shape4"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape5"><img alt="shape" loading="lazy" width="182" height="146" decoding="async" data-nimg="1" src="/static/img/shape5.png" style="color: transparent;"></div>
  <div class="shape6 rotateme"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape7"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape8 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
</div>
<div class="ml-services-area ptb-80">
  <div class="container">
    <div class="section-title"><span class="sub-title">Our Solutions</span>
      <h2>Our Services</h2>
      <div class="bar"></div>
      <p>We offer an expansive selection of software services crafted to suit your requirements, all at a budget-friendly rate.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-once="true">
        <div class="single-ml-services-box">
          <div class="image"><img alt="image" loading="lazy" width="155" height="180" decoding="async" data-nimg="1" src="/static/img/service-image1.png" style="color: transparent;"></div>
          <h3><a href="/contact?subject=web_development">Web Development</a></h3>
          <p>Crafted with precision, our custom web development solutions ensure your online presence stands out. From sleek corporate websites to dynamic web applications, we deliver engaging user experiences tailored to your needs.</p>
          <div class="mt-5 flex justify-center items-center"><a class="btn btn-primary" href="/contact?subject=web_development">Get In Touch!</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-once="true">
        <div class="single-ml-services-box">
          <div class="image"><img alt="image" loading="lazy" width="198" height="180" decoding="async" data-nimg="1" src="/static/img/service-image2.png" style="color: transparent;"></div>
          <h3><a href="/contact?subject=android_development">Android Development</a></h3>
          <p>Reach a vast audience with intuitive Android applications designed to captivate and engage users. Our expertise ensures your app stands out in the competitive mobile landscape, driving success for your business.</p>
          <div class="mt-5 flex justify-center items-center"><a class="btn btn-primary" href="/contact?subject=android_development">Get In Touch!</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-once="true">
        <div class="single-ml-services-box">
          <div class="image"><img alt="image" loading="lazy" width="175" height="180" decoding="async" data-nimg="1" src="/static/img/service-image3.png" style="color: transparent;"></div>
          <h3><a href="/contact?subject=software_development">Software Development</a></h3>
          <p>Unlock your business's full potential with bespoke software solutions tailored to your unique requirements. From streamlining processes to driving innovation, our solutions empower you to thrive in the digital age.</p>
          <div class="mt-5 flex justify-center items-center"><a class="btn btn-primary" href="/contact?subject=software_development">Get In Touch!</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500" data-aos-once="true">
        <div class="single-ml-services-box">
          <div class="image"><img alt="image" loading="lazy" width="238" height="180" decoding="async" data-nimg="1" src="/static/img/service-image4.png" style="color: transparent;"></div>
          <h3><a href="/contact?subject=machine_learning">Machine Learning</a></h3>
          <p>Harness the power of data with advanced machine learning algorithms that drive actionable insights. From predictive analytics to natural language processing, we help you leverage data for smarter decision-making and enhanced performance.</p>
          <div class="mt-5 flex justify-center items-center"><a class="btn btn-primary" href="/contact?subject=machine_learning">Get In Touch!</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500" data-aos-once="true">
        <div class="single-ml-services-box">
          <div class="image"><img alt="image" loading="lazy" width="315" height="180" decoding="async" data-nimg="1" src="/static/img/service-image5.png" style="color: transparent;"></div>
          <h3><a href="/contact?subject=blockchain">Blockchain</a></h3>
          <p>Embrace the future of decentralized technology with our blockchain solutions, ensuring secure and transparent transactions. Whether you're exploring blockchain for your industry or building a custom solution, we provide expertise every step of the way.</p>
          <div class="mt-5 flex justify-center items-center"><a class="btn btn-primary" href="/contact?subject=blockchain">Get In Touch!</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600" data-aos-duration="500" data-aos-once="true">
        <div class="single-ml-services-box">
          <div class="image"><img alt="image" loading="lazy" width="234" height="180" decoding="async" data-nimg="1" src="/static/img/service-image6.png" style="color: transparent;"></div>
          <h3><a href="/contact?subject=cybersecurity">Cybersecurity</a></h3>
          <p>Protect your digital assets with tailored cybersecurity solutions. From threat detection to vulnerability assessments, we safeguard your data and infrastructure, offering peace of mind in our interconnected world.</p>
          <div class="mt-5 flex justify-center items-center"><a class="btn btn-primary" href="/contact?subject=cybersecurity">Get In Touch!</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape1"><img alt="shape" loading="lazy" width="202" height="202" decoding="async" data-nimg="1" src="/static/img/shape1.png" style="color: transparent;"></div>
  <div class="shape2 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
  <div class="shape3"><img alt="shape" loading="lazy" width="28" height="28" decoding="async" data-nimg="1" src="/static/img/shape3.svg" style="color: transparent;"></div>
  <div class="shape4"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape7"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape8 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
</div>
<div class="ml-projects-area pt-0 ptb-80 mt-20" id="saas_products">
  <div class="container">
    <div class="section-title st-fs-28">
      <h2>Our SAAS Products That Make Us Stand Out</h2>
      <div class="bar"></div>
      <p>Our projects fuse innovation and creativity, delivering tailored solutions that drive tangible results in the digital realm.</p>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 max-w-7xl">
      {% if comify_enabled %}
      <!-- Card 1 -->
      <div class="card bg-white rounded-lg overflow-hidden shadow-xl p-6">
        <h2 class="text-center">Comify</h2>
        <p class="text-lg text-center">AI Powered Comics/Manga Generation from Prompt</p>
        <iframe src="https://comify.witeso.com/" scrolling="no" class="w-full h-72 rounded object-cover"></iframe>
        <div class="mt-5 flex justify-center items-center"><a class="btn btn-primary" href="https://comify.witeso.com/">Try Now For Free!</a></div>
      </div>
      {% endif %}
  
      <!-- Card 2 -->
      <div class="card bg-white rounded-lg overflow-hidden shadow-xl p-6">
        <h2 class="text-center">MakeIT</h2>
        <p class="text-lg text-center">AI Powered PowerPoint Presentation (PPT) Maker from Prompt</p>
        <img src="/static/img/makeit.png" alt="Image 3" class="w-full h-72 rounded object-cover">
        <!-- <iframe width="200%" src="https://makeit.witeso.com/" class="w-full h-72 rounded object-cover"></iframe> -->
        <div class="mt-5 flex justify-center items-center"><a class="btn btn-primary" href="https://makeit.witeso.com/">Try Now For Free!</a></div>
      </div>
  
      <!-- Card 3 -->
      <div class="card bg-white rounded-lg overflow-hidden shadow-xl p-6">
        <h2 class="text-center">BuilderMate</h2>
        <p class="text-lg text-center">AI Powered Figma Design to Website Builder (Coming Soon)</p>
        <img src="https://via.placeholder.com/600x400" alt="Image 3" class="w-full h-72 rounded object-cover">
        <div class="mt-5 flex justify-center items-center"><a class="btn btn-primary" href="#">Try Now For Free!</a></div>
      </div>
    </div>
  </div>

  <div class="shape1"><img alt="shape" loading="lazy" width="202" height="202" decoding="async" data-nimg="1" src="/static/img/shape1.png" style="color: transparent;"></div>
  <div class="shape2 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
  <div class="shape3"><img alt="shape" loading="lazy" width="28" height="28" decoding="async" data-nimg="1" src="/static/img/shape3.svg" style="color: transparent;"></div>
  <div class="shape4"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape7"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape8 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
</div>


<div class="free-trial-area">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="free-trial-image"><img alt="image" loading="lazy" width="700" height="400" decoding="async" data-nimg="1" src="/static/img/free-trial-img.png" style="color: transparent;"></div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="free-trial-content">
          <h2>Get in touch</h2>
          <form class="newsletter-form"><input type="email" class="input-newsletter" placeholder="Enter your email here"><button type="submit">Sign Up Free</button></form>
          <p>Experience the seamless services of WITESO </p>
        </div>
      </div>
    </div>
  </div>
  <div class="shape2 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
  <div class="shape4"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape7"><img alt="shape" loading="lazy" width="21" height="20" decoding="async" data-nimg="1" src="/static/img/shape4.svg" style="color: transparent;"></div>
  <div class="shape8 rotateme"><img alt="shape" loading="lazy" width="22" height="22" decoding="async" data-nimg="1" src="/static/img/shape2.svg" style="color: transparent;"></div>
</div>
{% endblock body %}
