{% extends 'base.html' %}

{% block body %}
<div class="ptb-80 mt-20">
    <div class="container">
        <div class="section-title">
            <h2>Shipping & Delivery</h2>
            <div class="bar"></div>
        </div>
    </div>
    <div class="container w-90 mb-5 text-lg">
        <p>At Witeso.com, we are committed to providing you with swift and seamless access to our SaaS products. Upon
            purchase, you will receive digital credits which serve as your gateway to our services. Delivery of these
            digital credits is instantaneous, ensuring that you can start utilizing our SaaS products without delay.</p>

        <p>Our digital credit delivery system is designed to provide you with convenience and efficiency. You can access
            your digital credits immediately after the purchase is confirmed, allowing you to begin utilizing our SaaS
            products without any waiting period.</p>

        <p>If you encounter any issues with the delivery of your digital credits or require assistance, our customer
            support team is available to help. Please don't hesitate to reach out to us, and we will ensure that your
            concerns are addressed promptly.</p>

        <p>Thank you for choosing Witeso.com for your SaaS needs. We look forward to providing you with exceptional
            service and support.</p>
    </div>
</div>
{% endblock body %}